doctype html
html(lang="ru")

    head
        include ./inc/_head
    body
        include ./inc/_header

        .fearutes
            .container
                .row.top-items
                    .item.col-lg-4
                        .item-top
                            p Проводим анализ вашего сайта
                            .line-top-l
                                hr
                            .line-top-left
                                hr
                    .item.col-lg-4
                        .item-top
                            p Подбираем ключевые слова, которые будут продавать
                            .line-top-center
                                hr
                    .item.col-lg-4
                        .item-top
                            .top-right-text
                                p Настройка конверсий
                            .line-top-r
                                hr
                            .line-top-right
                                hr
                .row.center-items
                    .item.col-lg-3
                        .center-left
                            .center-left-text
                                p Минус-словa
                            .line-center-left
                                hr
                    .item.col-lg-6.img-google
                        img(src=imgPath+"google-img.png")
                    .item.col-lg-3
                        .center-right
                            .center-right-text
                                p Акции
                            .line-center-right
                                hr
                .row.bottom-items
                    .item.col-lg-4
                        .item-bottom
                            .line-bottom-l
                                hr
                            .line-bottom-left
                                hr
                            p Улучшаем позицию обьявлений

                    .item.col-lg-4
                        .item-bottom
                            .line-bottom-center
                                hr
                            p Снижаем стоимость клика
                    .item.col-lg-4
                        .item-bottom
                            .line-bottom-r
                                hr
                            .line-bottom-right
                                hr
                            .bottom-right-text
                                p Ремаркетинг

        .advertising
            .container
                p.
                    Контекстная реклама - это самый оперативный и простой способ првлечения целевой аудитории на сайт.
                    Если настройка контекстной рекламы была проделана верно, то первый клиент из Google Awords или
                    Яндекс Директ, придет в первий день показа рекламы.
        .order-form
            .container
                .rocketmen
                    img(src=imgPath+"rocketmen.png")
                .order-f
                    .order-blank
                        p РАСЧЕТ СТОИМОСТИ
                        .row
                            .col-lg-6
                                input(type="text" placeholder="Ваше имя")
                                input(type="text" placeholder="Контактный телефон")
                                input(type="text" placeholder="E-mail")
                                input(type="text" placeholder="Ссылка на сайт")
                            .col-lg-6
                                .keywords
                                    input(type="textarea"  placeholder="Ключевые слова, время показа и пр.")
                                .button-rocket
                                    button(type="button")
                                        img(src=imgPath+"button-rocket.png")
                                        p ЗАКАЗАТЬ
        .certificate
            .container
                p.
                    Контекстная реклама - это самый оперативный и простой способ првлечения целевой аудитории на сайт.
                    Если настройка контекстной рекламы была проделана верно, то первый клиент из Google Awords или
                    Яндекс Директ, придет в первий день показа рекламы.первый клиент из Google Awords или Яндекс Директ
                .row.certificate-items
                    .col-lg-4
                        img(src=imgPath+"adWords.png")
                        p СЕРТИФИКАТ ADWORDS по поисковой рекламе
                    .col-lg-4
                        img(src=imgPath+"google-an.png")
                        p СЕРТИФИКАТ GOOGLE ANALYTICS
                    .col-lg-4
                        img(src=imgPath+"adWords_2.png")
                        p СЕРТИФИКАТ ADWORDS по мобильной рекламе
        .plan
            .container
                .row
                    .col-lg-3
                        img(src=imgPath+"rocket-draw.png")
                    .col-lg-9
                        .plan-title План работ
                        ul
                            li.plan-item
                                p Вы оставляете запрос на расчёт стоимости и коммерческого предложения
                            li.plan-item
                                p Специалист связывается с Вами и уточняет информацию
                            li.plan-item
                                p Мы подбираем ключевые слова и отправляем коммерческое предложение
                            li.plan-item
                                p Получаете профи настройку и все доступы к рекламной компании
        .google-map
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2541.31022533023!2d30.476239999999997!3d50.435322!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce95bed46e95%3A0xf836f6c3c0b0e5ac!2z0LLRg9C70LjRhtGPINCh0YPRgNC40LrQvtCy0LAsIDMsINCa0LjRl9CyLCDQo9C60YDQsNC40L3QsCwgMDIwMDA!5e0!3m2!1sru!2sua!4v1469176395707" width="100%" height="542" frameborder="0" style="border:0" allowfullscreen></iframe>
        .order-space
            .button-rocket-second
                button(type="button")
                    img(src=imgPath + "button-rocket.png")
                    p ЗАКАЗАТЬ
        .seo-text
            .container
                p.
                    Seo оптимизированный текст – это текст, в котором содержатся ключевые запросы из поисковых систем. Целью написания таких текстов является привлечение посетителей и оптимизация целевой страницы сайта.
                    Seo оптимизированный текст – это текст, в котором содержатся ключевые запросы из поисковых систем. Целью написания таких текстов является привлечение посетителей и оптимизация целевой страницы сайта.
        .clients
            .container
                p НАШИ КЛИЕНТЫ
                .row
                    .col-lg-3
                        img(src=imgPath+"client1.png")
                    .col-lg-3
                        img(src=imgPath+"client2.png")
                    .col-lg-3
                        img(src=imgPath+"client3.png")
                    .col-lg-3
                        img(src=imgPath+"client4.png")
                    .col-lg-3
                        img(src=imgPath+"client5.png")
                    .col-lg-3
                        img(src=imgPath+"client6.png")
                    .col-lg-3
                        img(src=imgPath+"client7.png")
                    .col-lg-3
                        img(src=imgPath+"client8.png")
        include ./inc/_footer



