header
    .top
        .container
            .logo.col-lg-2
                img(src=imgPath+"logo.png")
            .contact.col-lg-5
                ul
                    li
                        .contact-item
                            img(src=imgPath+"c_email.png")
                            p tk@reclamare.com.ua
                        .contact-item
                            img(src=imgPath+"c_adress.png")
                            p Киев, пер.Островского 1
                    li
                        .contact-item
                            img(src=imgPath+"c_phone.png")
                            p +38 (067) 892-04-01
                        .contact-item
                            img(src=imgPath+"c_skype.png")
                            p kate-reclamare
    .top-content
        .container
            .top-text.col-lg-8
                .top-text-large
                    p КОМПЕНСИРУЕМ ДО 1500 ГРН
                .top-text-less
                    p НА РЕКЛАМУ В GOOGLE ADWORDS
            .top-img.col-lg-4
                img(src=imgPath+"rocket.png")

